<!DOCTYPE html>
<html lang="it">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- link a vue js -->
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <!-- link alla libreria axios -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
   <!-- link al google font -->

   <!-- link al fontawesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <!-- link al css -->
   <link rel="stylesheet" href="css/style.css">

   <title>vue-boolflix</title>
</head>

<body>

   <div id="root">

      <div class="search_area">
         <input type="text" @keyup.enter="search" v-model="searched">
         <button v-model="searched" @click="search">Cerca</button>
      </div> <!-- chiusura search area -->

      <div v-for="result in results" class="card">

         <div class="poster">
            <!-- poster -->
            <img v-if="result.poster_path != null" :src="'https://image.tmdb.org/t/p/w342/' + result.poster_path">
            <!-- immagine di rimpiazzo poster non trovato -->
            <img v-if="result.poster_path == null" src="img/not_found.jpg" class="not_found">
         </div>

         <!-- titolo film -->
         <h3 v-if="result.title">{{result.title}}</h3>
         <!-- titolo serie -->
         <h3 v-if="result.name">{{result.name}}</h3>
         <!-- titolo originale film -->
         <span v-if="result.original_title != result.title">{{result.original_title}}</span>
         <!-- titolo originale serie -->
         <span v-if="result.original_name != result.name">{{result.original_name}}</span>

         <div class="rate">
            <!-- stelle piene corrispondenti al voto -->
            <i v-for="i in getVote(result.vote_average)" class="fas fa-star"></i><!-- questo commento serve solo ad avvicinare le stelline
         --><i v-for="i in (5 - getVote(result.vote_average))" class="far fa-star"></i>
         </div> <!-- chiusura rate -->

         <div class="language">
            <p>{{result.original_language}}</p>
            <img :src=" 'https://www.countryflags.io/' + result.original_language + '/shiny/64.png'" :alt="result.original_language">
         </div> <!-- chiusura language -->

      </div> <!-- chiusura card -->

   </div> <!-- root -->

   <script src="js/script.js"></script>
</body>

</html>
