<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- link a vue js -->
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <!-- link alla libreria axios -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
   <!-- link al google font -->

   <!-- link al fontawesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <!-- link al css -->
   <link rel="stylesheet" href="css/style.css">

   <title>vue-boolflix</title>
</head>

<body>

   <div id="root">

      <div class="search_area">
         <input type="text" @keyup.enter="search" v-model="searchedMovie">
         <button v-model="searchedMovie" @click="search">Cerca</button>
      </div>

      <div v-for="movie in movies" class="card">
         <!-- titolo -->
         <h4>{{movie.title}}</h4>
         <!-- titolo originale -->
         <h5>{{movie.original_title}}</h5>
         <!-- lingua -->
         <p>{{movie.original_language}}</p> <!-- da cancellare in seguito, lo tengo momentaneamente per avere un riferimento numerico -->
         <img :src=" `https://www.countryflags.io/` + movie.original_language + `/shiny/64.png`" :alt="movie.original_language">
         <!-- voto -->
         <p>{{movie.vote_average}}</p> <!-- da cancellare in seguito, lo tengo momentaneamente per avere un riferimento numerico -->
         <i class="fas fa-star" v-for="star in movie.vote_average"></i>
         <!-- font awesome di riferimento -->
         <!-- <i class="fas fa-star"></i> -->
         <!-- <i class="far fa-star"></i> -->
      </div>

   </div> <!-- root -->

   <script src="js/script.js"></script>
</body>

</html>
